<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BASE{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css' ) }}">

</head>
<body>
<header>
    <h1>Space Sport</h1>
</header>
<main>
    <div class="menu">
        {% block menu %}

        {% endblock %}
    </div>
    <div class="display-content">
        {% block display %}
        {% endblock %}
    </div>
</main>
<footer>
    <h4>
        &copy; Space Sport
    </h4>
</footer>
</body>
</html>
